parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - var/*
        - vendor/*
        - docker/*

    # Symfony spécifique
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    # Ignorer certaines erreurs spécifiques (ajuster selon vos besoins)
    ignoreErrors:
        # Exemple : ignorer les erreurs sur les propriétés dynamiques de Doctrine
        # - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+\.#'
        # Ignorer le check de bootEnv (compatibilité Symfony)
        - '#Call to function method_exists\(\) with .* and .bootEnv. will always evaluate to true\.#'
