parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - var/*
        - vendor/*
        - docker/*

    # Symfony spécifique
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    # Ignorer certaines erreurs spécifiques (ajuster selon vos besoins)
    ignoreErrors:
        # Ignorer le check de bootEnv (compatibilité Symfony)
        - '#Call to function method_exists\(\) with .* and .bootEnv. will always evaluate to true\.#'
        # Ignorer les erreurs sur les propriétés $id auto-générées par Doctrine
        - '#Property App\\Entity\\[a-zA-Z]+::\$id \(int\|null\) is never assigned int#'
